.fullpage
    height: 100vh
    justify-content: center
    align-items: center
    display: flex
    .fullpage_content
        height: 100%
        padding-top: 10%
        box-sizing: border-box
        width: 385px

        .fullpage_text
            display: flex
            justify-content: space-start
            flex-direction: column
            align-items: center
            color: $main-color
            
            .intro_text
                font-weight: 200
                font-size: 16px
                color: $main-color
                text-align: center
                margin: 4em 0
                width: 80%
                display: block
            
