.showcase.is-loading
  visibility: hidden

.showcase
  margin-right: 15px

.showcase__item
  margin-bottom: 30px
  width: (100% / 2)
  padding-left: 15px


  
@media screen and (min-width: 980px)
  .showcase__item
    width: (100% / 4)

